@model MVC_Project.VievModels.CreatorViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>@Model.Creator.Name @Model.Creator.SecName</h1>
<h2>Lista przedmiotów:</h2>
@if (@Model.Creator.ItemsCreated.Count == 0)
{
    <p class="alert">Lista przedmiotów jest pusta</p>
}

@if (@Model.Creator.ItemsCreated.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Przedmioty</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model.Creator.ItemsCreated)
        {
            <tr>
                <td>
                    <a href="Item?@item.Name&@Model.Creator.Name&@Model.Creator.SecName">@item.Name</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}


