@model Patently.Models.Creator
@{
    ViewData["Title"] = "Szczegóły twórcy";
    Layout = "_Layout";
}

<h1>Szczegóły twórcy</h1>
<hr/>
<div>
    <h3>Twórca</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.SecName )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.SecName)
        </dd>
        <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.ItemsCreated)
        </dt>
        <dd class="col-sm-10">
          @if (Model.ItemsCreated.Count == 0)
            {
              <p>Twórca nie ma żadnych dodanych przedmiotów.</p>
            }
            else
            {
              <ul>
                @foreach (var item in Model.ItemsCreated)
                {
                  <li>
                    @Html.DisplayFor(modelItem => item.Name) dodany @Html.DisplayFor(modelItem => item.DateWhenAdded)
                  </li>
                }
              </ul>
            }
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a>
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
</div>
