@model Patently.Models.Creator
@{
    ViewData["Title"] = "Szczegóły twórcy";
    Layout = "_Layout";
}

<h1>Szczegóły twórcy</h1>
<hr/>
<div>
    <h3>Twórca</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.SecName )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.SecName)
        </dd>
        <!-- TODO: add list of items with CreatorID as this -->
    </dl>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a>
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
</div>
