@model Patently.Models.Item
@{
    ViewData["Title"] = "Szczegóły przedmiotu";
    Layout = "_Layout";
}

<h1>Szczegóły przedmiotu</h1>
<hr/>
<div>
    <h3>Przedmiot</h3>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.Name )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.Name )
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor( model => model.DateWhenAdded )
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor( model => model.DateWhenAdded)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class="col-sm-10">
          <a asp-controller="Creators" asp-action="Details" asp-route-id="@Model.Creator.ID">
            @Html.DisplayFor(model => model.Creator.Name)
            @Html.DisplayFor(model => model.Creator.SecName)
          </a>
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.ID">Edytuj</a>
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
</div>
