@model Patently.Models.itemEditViewModel
@{
    ViewData["Title"] = "Edytuj Przedmiot";
    Layout = "_Layout";
}

<h1>Edytuj Przedmiot</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Items" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID"/>
            <div class="form-group">
                <label asp-for="Name" class="custom-control-label">Nazwa: </label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateWhenAdded" class="custom-control-label">Data dodania: </label>
                <input asp-for="DateWhenAdded" type="date" class="form-control"/>
                <span asp-validation-for="DateWhenAdded" class="text-danger"></span>
            </div>

            <div class="form-group">
              <select>
                @foreach (var creator in @Model.Creators )
                {
                  @if (creator.ID == @Model.creatorID)
                  {
                    <option value="@creator" selected="selected">@creator.Name @creator.SecName</option>
                  }
                  else
                  {
                    <option value="@creator" >@creator.Name @creator.SecName</option>
                  }
                }
              </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Powrót do listy</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
